SERVER_PORT=3000
SOCKET_PORT=3001
SERVER_HOST=http://localhost

# Redis Web Management
REDIS_VOTE_HOST=localhost
REDIS_VOTE_PORT=6379
REDIS_VOTE_PASS=
REDIS_VOTE_FAMILY=4
REDIS_VOTE_DB=1

# Redis Order
REDIS_ORDER_HOST=localhost
REDIS_ORDER_PORT=6379
REDIS_ORDER_PASS=
REDIS_ORDER_FAMILY=4
REDIS_ORDER_DB=1

# Web3 host
NETWORK_RPC_URL=https://rpc-kura.cross.technology/

# OPERATOR ACCOUNT 
OPERATOR_ACCOUNT_PRIVATE_KEY = 

# Contract address
PERMITTED_NFTS_ADDRESS=0xD17Beddb48e6D29A8798845FCCa341566669db13
WXCR_ADDRESS=0x3b3f35c81488c49b370079fd05cfa917c83a38a9
COLLECTION_ADDRESS=0x25baf69a46923c0db775950b0ef96e6018343a36
LENDING_POOL_ADDRESS=0xa01d399346e76bd863f726366c31789b2fc43ad9
LOAN_ADDRESS=0x1f2cd935b0ca5b7e9ee2f98970d1bb78797ba6d8
MARKETPLACE_ADDRESS=0x0a0736fcB4978f6334c35ca95b002755577E1115
CHAIN_ID=5555
