.table {
  margin-top: 24px;
  margin-bottom: 60px;
  background-color: #221e37;

  .heading {
    padding: 0 24px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 0 #000;

    > div > button {
      outline: none;
      background: transparent;
      border: 1px solid #fff;
      padding: 4px 12px;
      border-radius: 20px;
      cursor: pointer;
      margin-left: 12px;

      &:hover {
        background: #7d5fd7;
        border-color: #7d5fd7;
      }
    }
  }

  .table-list {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 2fr;
    grid-template-rows: auto;
    overflow-x: auto;
    box-shadow: 1px 0 0 #000;
    background: #0f0d18;
    padding: 0 24px;

    .table-list-item {
      padding: 12px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #000;
      white-space: nowrap;
      font-size: 12px;
      line-height: 20px;

      > a {
        text-decoration: none;

        &:hover {
          font-weight: bold;
        }
      }

      > input {
        cursor: pointer;
      }

      button {
        outline: none;
        background: transparent;
        border: 1px solid #fff;
        padding: 4px 12px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          background: #7d5fd7;
          border-color: #7d5fd7;
        }
      }
    }
  }

  .no-data {
    background-color: transparent;
    padding: 24px;

    span {
      text-align: center;
      font-size: 14px;
      font-style: italic;
      line-height: 12px;
      color: #8784b5;
      display: block;
      padding: 12px 0;
      width: 100%;
      min-width: 260px;
      border: dashed 1px #8784b5;
      margin: 0 auto;
    }
  }
}
