.container {
  margin-top: 24px;
  margin-bottom: 60px;

  .make-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 12px;

    > .section {
      background-color: #221e37;
      box-shadow: 1px 1px 0 #000;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .token-bound-account {
        margin: 12px 8px 0 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > button {
          outline: none;
          border: none;
          background-color: rgb(146, 108, 227);
          border-radius: 8px;
          font-size: 14px;
          letter-spacing: 0.05px;
          padding: 6px 16px;
          cursor: pointer;
          font-weight: bold;
        }
      }

      &.section-image {
        justify-content: space-between;
      }

      .heading {
        text-align: left;
      }

      .real-price {
        text-align: right;
        font-size: 14px;
      }

      .real-price-source {
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        text-align: right;
      }

      img {
        width: 100%;
      }

      .info {
        font-size: 14px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .label {
          font-weight: bold;
          width: 50%;
        }

        .value {
          display: flex;
          align-items: center;

          > span {
            margin-right: 12px;
          }

          > a {
            height: 14px;
          }
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .title {
          font-size: 14px;
          font-weight: bold;
          line-height: 24px;
        }

        .sub-title {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 12px;
        }

        .section {
          display: flex;
          flex-direction: column;

          .head {
            font-size: 14px;
            padding: 6px 16px;
            background-color: #6d50cd;

            span {
              font-weight: 900;
            }
          }

          .details {
            padding: 14px 0;
            font-size: 14px;

            .label {
              font-size: 12px;
              margin-bottom: 8px;
            }

            label {
              color: #6d50cd;
              display: flex;
              align-items: center;
              cursor: pointer;
              position: relative;

              input[type='radio'] {
                margin: 0;
              }

              input[type='number'] {
                border: none;
                outline: 1px solid #6d50cd;
                font-size: 14px;
                color: #fff;
                background-color: #07070f;
                padding: 6px 16px;
                width: 100%;
                box-sizing: border-box;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }

              span {
                margin-left: 4px;
                font-size: 12px;
              }

              input[type='number'] ~ span {
                margin-left: 12px;
                font-size: 14px;
              }

              input[type='number'].repayment-input {
                margin-right: 12px;
                width: 65%;
              }

              input[type='number'].apr-input {
                width: 35%;
              }

              .percent-label {
                position: absolute;
                right: 0;
                top: 50%;
                font-size: 14px;
                transform: translateY(-50%);
                color: #cf2e8c;
                right: 4px;
              }
            }
          }
        }

        .button-wrap {
          display: flex;
          align-items: center;

          button[type='submit'] {
            border: none;
            outline: none;
            background-color: #6d50cd;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            flex-grow: 4;
            height: 32px;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
