.container {
  // margin-top: 100px;
  margin-bottom: 60px;

  .section {
    width: 100%;
    background-color: #221e37;
    border-radius: 25px;

    > .heading {
      padding: 30px 24px;
      display: flex;
      align-items: center;
      border-bottom: 0.8px solid rgba(146, 108, 227, 0.3);

      img {
        filter: invert(100%);
        width: 50px;
      }

      .content {
        margin-left: 16px;
        display: flex;
        flex-direction: column;

        .note {
          width: fit-content;
          padding: 4px 8px;
          background-color: #6d50cd;
          border-radius: 5px;
          font-size: 12px;
          color: rgb(255, 255, 255);
          opacity: 1;
          letter-spacing: 0.05px;
          margin-bottom: 8px;
        }

        .title {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }

    .body {
      padding: 32px 32px 12px 32px;

      .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-auto-rows: 1fr;
        margin-bottom: 20px;

        &.row-2 {
          grid-template-columns: 1fr 1fr;
        }

        .section-item {
          .item {
            height: 100%;
            .content {
              background-color: #221630;
              padding: 24px;
              border-radius: 16px;

              .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                  font-size: 14px;
                  opacity: 0.5;
                }

                .amount {
                  display: flex;
                  align-items: center;

                  > div {
                    color: rgba(235, 235, 245, 0.5);
                    font-size: 14px;
                    margin-left: 4px;
                  }
                }
              }

              .stake-input {
                border-radius: 12px;
                margin-top: 12px;
                background-color: rgb(54, 40, 72);
                padding: 12px 12px 12px 12px;
                display: flex;
                align-items: center;

                img {
                  filter: invert(100%);
                  width: 24px;
                }

                input {
                  margin-left: 12px;
                  margin-right: 4px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  font-size: 14px;
                  color: #240505;

                  width: 100%;
                  -moz-appearance: textfield;

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }

              > button {
                outline: none;
                border: none;
                width: 100%;
                background-color: rgb(146, 108, 227);
                border-radius: 12px;
                font-size: 16px;
                letter-spacing: 0.05px;
                padding: 16px;
                margin-top: 20px;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }

          .information {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > .content {
              background-color: transparent;
              padding: 0;

              .title {
                font-size: 16px;
                font-weight: 600;
                display: flex;

                .tooltip {
                  margin-left: 12px;
                  position: relative;

                  .tooltip-icon {
                    cursor: pointer;

                    &:hover ~ .tool-tip-content {
                      display: block;
                    }
                  }

                  .tool-tip-content {
                    display: none;
                    position: absolute;
                    bottom: 28px;
                    width: 180px;
                    padding: 8px;
                    background-color: #16152d;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    font-size: 13px;
                    transition: all ease 0.5s;

                    > div {
                      color: rgba(235, 235, 245, 0.8) !important;
                      line-height: 18px;
                    }
                  }
                }
              }

              .value {
                margin-top: 8px;
                font-weight: 900;
                font-size: 26px;
                color: rgb(109, 219, 107);
                letter-spacing: 0.05px;
              }
            }

            img {
              width: 68px;
            }
          }
        }

        .item {
          background-color: rgb(54 40 72);
          padding: 24px;
          border-radius: 25px;
        }
      }
    }
  }
}
