.container {
  margin-top: 24px;
  margin-bottom: 60px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #221e37;
    box-shadow: 1px 1px 0 #000;
    margin-bottom: 8px;
    padding: 0 12px;

    > span {
      height: 54px;
      line-height: 54px;
      font-weight: bold;
    }

    .button-group {
      display: flex;
      align-items: center;
      gap: 12px;

      button {
        outline: none;
        border: none;
        background-color: rgb(146, 108, 227);
        border-radius: 8px;
        font-size: 12px;
        letter-spacing: 0.05px;
        padding: 6px 16px;
        cursor: pointer;
        font-weight: bold;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }

  }

  .list-nfts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  .no-data {
    background-color: #221e37;
    padding: 24px;

    span {
      text-align: center;
      font-size: 14px;
      font-style: italic;
      line-height: 12px;
      color: #8784b5;
      display: block;
      padding: 12px 0;
      width: 100%;
      min-width: 260px;
      border: dashed 1px #8784b5;
      margin: 0 auto;
    }
  }
}
